@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@-webkit-keyframes toast {
  0% {
    top: 60%;
  }
  100% {
    top: 50%;
  }
}

@keyframes toast {
  0% {
    top: 60%;
  }
  100% {
    top: 50%;
  }
}

@-webkit-keyframes toast_hide {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 40%;
    opacity: 0;
  }
}

@keyframes toast_hide {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 40%;
    opacity: 0;
  }
}

.toast {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px;
}

.toast.active {
  -webkit-animation-name: toast;
          animation-name: toast;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.toast.hide_toast {
  -webkit-animation-name: toast_hide;
          animation-name: toast_hide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.link {
  position: relative;
  height: auto;
  margin: auto;
  display: inline-block;
  background: #0582BE;
  border-radius: 40px;
  border: 1px solid #0582BE;
  padding: 10px 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link:hover {
  background: #0C1632;
  text-decoration: none;
  color: #fff;
  border-color: #153667;
}

.link.secundary {
  background: transparent;
  border: 1px solid #0582BE;
  color: #0582BE;
}

.link.secundary:hover {
  background: #0582BE;
  color: #fff;
}

.link.small {
  font-size: 12px;
  padding: 7px 20px;
}

.link.red {
  color: red;
  border-color: red;
}

.link.red:hover {
  background-color: red;
}

.modal .modal-body {
  padding: 30px 20px;
}

.modal .modal_img {
  position: absolute;
  left: 50%;
  top: -150px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0582BE;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 290px auto;
      grid-template-columns: 290px auto;
  min-height: 100vh;
}

.app.front_app {
  -ms-grid-columns: initial;
      grid-template-columns: initial;
}

.app.front_app .sidebar {
  position: absolute;
  height: auto;
  grid-column: initial;
  background: none;
}

.app.front_app .main {
  grid-column: initial;
  background: #153667;
}

.app.front_app .main_content h1 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px;
}

.app .sidebar {
  position: fixed;
  height: 100vh;
  background: #0C1632;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  z-index: 100;
  -webkit-box-shadow: 7px 0 14px rgba(0, 0, 0, 0.29);
          box-shadow: 7px 0 14px rgba(0, 0, 0, 0.29);
}

.app .sidebar .logo img {
  width: 100%;
}

.app .sidebar ul {
  margin-top: 50px;
}

.app .sidebar ul li a {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  padding-left: 40px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.app .sidebar ul li a:hover, .app .sidebar ul li a.active {
  background: #E36924;
}

.app .sidebar ul li a img {
  margin-right: 10px;
}

.app .main {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.app .main .top {
  background: #2487e3;
  background: linear-gradient(133deg, #2487e3 55%, #59b6b1 100%);
  padding: 15px 10px;
  color: #fff;
  text-align: right;
}

.app .main .top a {
  color: #ffffff;
  text-decoration: none;
}

.app .main .top .user, .app .main .top .credit, .app .main .top .logout {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
}

.app .main .top .user a {
  font-weight: bold;
}

.app .main .top .credit {
  font-weight: lighter;
}

.app .main .top .logout {
  padding-left: 20px;
  border-left: 1px solid #fff;
}

.app .main .top .logout form {
  display: inline;
}

.app .main .top .logout button {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.app .main .top .logout button:hover {
  color: #153667;
}

.app .main .sub_top {
  padding: 20px 0;
  padding-left: 320px;
  background: rgba(5, 130, 190, 0.5);
}

.app .main .sub_top p {
  color: #fff;
  margin-bottom: 0;
  font-size: 25px;
}

.app .main header {
  background: #153667;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.app .main header h1 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.app .main header p {
  color: #fff;
  font-size: 26px;
  font-weight: lighter;
}

.app .main .main_content {
  padding: 20px 100px;
  padding-bottom: 100px;
}

.app .main .main_content header {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  background: none;
}

.app .main footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0582BE;
  z-index: 100;
  padding: 10px 0;
}

.app .main footer p {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.auth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 550px;
      grid-template-columns: auto 550px;
  height: 100vh;
}

.auth .hero {
  position: relative;
  background: url("../images/login_bg.png") no-repeat;
  background-size: cover;
}

.auth .hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(158deg, #59b6b1 23%, #2487e3 79%);
  z-index: -1;
}

.auth .hero h1, .auth .hero h2 {
  color: #fff;
}

.auth .hero h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 54px;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.auth .hero h2 {
  font-weight: lighter;
  font-style: italic;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
}

.auth .hero header {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.auth .hero img.main_img {
  display: block;
  margin: auto;
}

.auth .hero img.bottom {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 200px;
}

.auth .main_panel {
  background: #F1F1F1;
  -webkit-box-shadow: 0 -5px 14px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -5px 14px rgba(0, 0, 0, 0.3);
}

.auth .main_panel .login_logo {
  margin-bottom: 70px;
}

.auth .main_panel .login_logo img {
  width: 100%;
}

.auth .main_panel h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0582BE;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.auth .main_panel form {
  position: relative;
  width: 80%;
  margin: auto;
}

.auth .main_panel form input {
  margin-bottom: 20px;
  border: none;
}

.auth .main_panel form input[type='submit'] {
  background: #E36924;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.auth .main_panel form input[type='submit']:hover {
  background: #0582BE;
}

.auth .main_panel .forgot_password {
  text-align: center;
  color: #0582BE;
  display: block;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 40px 20px;
  text-align: center;
}

#drop-area img.icon {
  margin-bottom: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#drop-area img.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#drop-area p {
  font-weight: bold;
  font-size: 20px;
  color: #878787;
  text-transform: uppercase;
}

#drop-area.highlight {
  border-color: #0582BE;
}

.files_form {
  margin-bottom: 10px;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  background: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #0582BE;
  color: #0582BE;
  text-transform: uppercase;
  font-size: 12px;
}

.button:hover {
  background: #0582BE;
  color: #fff;
}

#fileElem {
  display: none;
}

.signers_home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 50px;
}

.signers_home .signers_home_item {
  margin: 0 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.signers_home .signers_home_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.signers_home .signers_home_item:hover span.img {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  background: #153667;
}

.signers_home .signers_home_item a {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
}

.signers_home .signers_home_item span.img {
  display: block;
  background: #0582BE;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.signers_home .signers_home_item span.name {
  text-align: center;
  display: block;
  color: #0582BE;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.signers_home .link_wrapper {
  grid-column: 1/-1;
  margin-top: 50px;
}

.signers_box {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.signers_box h2 {
  background: #E36924;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.signers_box .signers_box_inner {
  padding: 40px;
}

.signers_box .steps_header {
  margin-bottom: 20px;
  border-bottom: 1px solid #0582BE;
}

.signers_box .steps_header ul li {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: bold;
}

.signers_box .steps_header ul li.active {
  color: #0582BE;
}

.signers_box .steps_header ul li.active span {
  border-color: #0582BE;
  background: #0582BE;
  color: #fff;
}

.signers_box .steps_header ul li span {
  border: 1px solid #8C8C8C;
  padding: 5px;
  padding-top: 1px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.signers_box .steps {
  position: relative;
  visibility: hidden;
  right: -100px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.signers_box .steps.active {
  visibility: visible;
  opacity: 1;
  right: 0;
  height: auto;
}

.signers_box .steps .step_content {
  padding: 0 20px;
}

.signers_box .steps.step_1 .sender p {
  color: #0C1632;
}

.signers_box .steps.step_1 .sender .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.signers_box .steps.step_1 .sender .id {
  font-weight: lighter;
}

.signers_box .steps.step_2 .signers_form .form-group {
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #0582BE;
}

.signers_box .steps.step_2 .signers_form label {
  color: #0C1632;
}

.signers_box .steps.step_2 .signers_form input {
  margin-bottom: 20px;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    top: -30px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  to {
    opacity: 1;
    top: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    top: -30px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  to {
    opacity: 1;
    top: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.signers_box .steps.step_2 .new_form_row {
  position: relative;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.signers_box .steps.step_2 .time_term {
  margin-bottom: 40px;
  margin-top: 30px;
}

.signers_box .steps .buttons {
  padding-top: 20px;
  border-top: 1px solid #0582BE;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.signers_box .steps .buttons .right {
  -ms-grid-column-align: end;
      justify-self: end;
}

.signers_box .steps .buttons .left {
  -ms-grid-column-align: start;
      justify-self: start;
}

.signatures {
  padding-top: 40px;
}

.signatures form {
  margin-bottom: 30px;
}

.signatures form input.form-control {
  border-right: none;
}

.signatures form .input-group-append .input-group-text {
  background: none;
  border-left: none;
}

.signatures table.table thead th {
  border-top: none;
  border-bottom-color: #0582BE;
  color: #0582BE;
  font-size: 18px;
}

.signatures table.table tbody td {
  color: #616161;
  border: none;
}

.signatures table.table tbody td .state {
  position: relative;
  width: 100%;
  height: 8px;
  background: darkgray;
  display: block;
}

.signatures table.table tbody td .state:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
}

.signatures table.table tbody td .state.started:after {
  background-color: #545454;
  width: 20%;
}

.signatures table.table tbody td .state.created:after {
  background-color: #0582BE;
  width: 20%;
}

.signatures table.table tbody td .state.declined:after {
  background-color: red;
  width: 100%;
}

.signatures table.table tbody td .state.processing:after {
  background-color: orange;
  width: 50%;
}

.signatures table.table tbody td .state.successful:after {
  background-color: green;
  width: 100%;
}

.signatures table.table tbody td.started {
  color: #545454;
}

.signatures table.table tbody td.created {
  color: #0582BE;
}

.signatures table.table tbody td.declined {
  color: red;
}

.signatures table.table tbody td.processing {
  color: orange;
}

.signatures table.table tbody td.successful {
  color: green;
}

.signatures_detail header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  border-bottom: 1px solid #0582BE;
}

.signatures_detail header h3 {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #0582BE;
  font-weight: bold;
}

.signatures_detail header a {
  -ms-grid-column-align: end;
      justify-self: end;
  color: #0582BE;
  text-decoration: none;
  font-weight: bold;
}

.signatures_detail header a i {
  color: inherit;
}

.signatures_detail header a:hover {
  color: #153667;
}

.signatures_detail h4 {
  color: #0582BE;
  font-weight: bold;
  margin-bottom: 20px;
}

.signatures_detail .links_group {
  margin-bottom: 40px;
  margin-top: 30px;
}

.signatures_detail .links_group a:nth-of-type(1) {
  margin-right: 10px;
}

.signatures_detail .signature_item {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
          box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
  border-radius: 20px;
  margin-bottom: 40px;
}

.signatures_detail .signature_item .box {
  padding: 25px 30px;
}

.signatures_detail .signature_item .box.doc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signatures_detail .signature_item .box.doc a {
  color: #0582BE;
}

.signatures_detail .signature_item .box.doc .action {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

.signatures_detail .signature_item .box.doc .action a {
  position: relative;
  margin: 0 8px;
  color: #0582BE;
  display: inline-block;
  z-index: 10;
}

.signatures_detail .signature_item .box.doc .action a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0);
}

.signatures_detail .signature_item .box.doc .action a:hover {
  color: #153667;
}

.signatures_detail .signature_item .box.doc .action a:hover:before {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.signatures_detail .signature_item p {
  margin: 0;
  color: #575757;
}

.signatures_detail .signature_item ul li {
  margin-bottom: 12px;
  color: #575757;
}

.signatures_detail .signature_item .action_links {
  margin-top: 30px;
  text-align: center;
}

.signatures_detail .signature_item .action_links .link {
  padding: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 20px;
  margin: 0 5px;
}

.signatures_detail .signature_item .tag {
  text-align: center;
  padding: 10px 0;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signatures_detail .signature_item .tag.declined {
  background-color: red;
}

.signatures_detail .signature_item .tag.success {
  background-color: green;
}

.signatures_detail .signature_item .tag.pending {
  background-color: orange;
}

.body_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.body_overlay.active {
  opacity: 0.8;
  visibility: visible;
}

.panel {
  position: fixed;
  top: 0;
  right: -1500px;
  width: 70%;
  height: 100vh;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.panel.open {
  opacity: 1;
  right: 0;
}

.panel .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.edit_signer h3 {
  color: #0582BE;
  font-weight: bold;
  margin-bottom: 20px;
}

.edit_signer form input, .edit_signer form select {
  margin-bottom: 20px;
}

.edit_signer form .link {
  position: relative;
  margin: auto;
  margin-top: 40px;
  display: block;
  height: auto;
  width: 300px;
}

.wallet .box {
  width: 400px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.wallet .box h2 {
  background: #E36924;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 14px 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
}

.wallet .box form {
  padding: 30px 40px;
  color: #575757;
}

.wallet .box form label {
  margin-bottom: 15px;
}

.wallet .box form .input-group-prepend {
  display: inline;
}

.wallet .box form .input-group-prepend .input-group-text {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.wallet .box form input {
  margin-bottom: 20px;
}

.wallet .box form button {
  height: auto;
  margin-bottom: 10px;
}

.wallet .box form button i {
  margin-left: 10px;
}

.box_front {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  border-top: 5px solid #E36924;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.box_front h2 {
  color: #0582BE;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.box_front p {
  text-align: center;
  font-size: 20px;
  color: #575757;
  margin-bottom: 30px;
}

.box_front input.form-control {
  margin-bottom: 20px;
  height: 50px;
  border-radius: 0;
  border: 0;
  border-left: 4px solid #153667;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.box_front input.form-control:focus {
  border-color: #E36924;
  border-left-width: 8px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.box_front button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box_front .g-recaptcha div {
  position: relative;
  margin: auto;
}

.box_front .error {
  color: red;
  margin-top: 10px;
  display: none;
}

.box_front .error.active {
  display: block;
}

.box_front .policy {
  color: #153667;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.box_front .policy:hover {
  text-decoration: underline;
}

.box_front.review_doc {
  max-width: 800px;
}

.box_front.review_doc ul {
  margin-top: 20px;
}

.box_front.review_doc ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0582BE;
}

.box_front.review_doc ul li:last-child {
  border: none;
}

.box_front.review_doc ul li .action_links a {
  margin-left: 10px;
}

.box_front.review_doc ul li .doc_name {
  color: #0582BE;
}

.otp {
  text-align: center;
}

.otp input {
  display: inline;
  width: 50px;
  height: 80px;
  border: none;
  border-bottom: 3px solid #0582BE;
  margin: 0 10px;
  text-align: center;
  color: #0582BE;
  font-size: 35px;
  font-weight: bold;
}

.otp input:focus {
  outline: none;
}

.otp .link_group {
  margin-top: 40px;
}

.otp .link_group a {
  margin: 0 5px;
}

.otp .otp_error {
  color: red;
  margin-top: 10px;
  display: none;
}

.otp .otp_error.active {
  display: block;
}

.review .box_front {
  max-width: 600px;
}

.review .doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px 0;
  border-top: 1px solid #0582BE;
  border-bottom: 1px solid #0582BE;
}

.review .doc a {
  margin: initial;
  color: #0582BE;
  text-decoration: none;
  font-weight: bold;
}

.review .signers h3 {
  color: #575757;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review .signers table {
  width: 100%;
}

.review .signers table thead {
  border-bottom: 1px solid #575757;
}

.review .signers table tbody {
  padding-top: 20px;
}

.review .signers table th, .review .signers table td {
  padding: 8px 0;
  color: #575757;
}

.review .signers table td {
  font-size: 14px;
}

.review .action {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #0582BE;
}
/*# sourceMappingURL=style.css.map */